<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="iniciar" default-destroy-method="destruir">

	<bean id="persona" class="es.anderconal.modelo.Persona"
		scope="singleton" init-method="alCrear" destroy-method="alDestruir"
		factory-method="getInstancia">
		
		<constructor-arg 
			value="1" 
			index="0" 
			name="id" 
			type="int">
		</constructor-arg>
		
		<constructor-arg 
			value="Ander Conal" 
			index="1" 
			name="nombre"
			type="String">
		</constructor-arg>

		<property 
			name="taxId"
			value="123">
			<!-- This is another way to set a property 
				
			<value>321</value> 
			
			-->
		</property>
		
		<property 
			name="direccion" 
			ref="direccion">
		</property>
		
	</bean>
	
	<bean id="personaDos" class="es.anderconal.modelo.Persona"
		scope="singleton" init-method="alCrear" destroy-method="alDestruir"
		factory-method="crearPersona" lazy-init="true"
		factory-bean="fabricacionPersona">
		
		<constructor-arg 
			value="2" 
			index="0" 
			name="id" 
			type="int">
		</constructor-arg>
		
		<constructor-arg 
			value="Conal Ander" 
			index="1" 
			name="nombre"
			type="String">
		</constructor-arg>

		<property 
			name="taxId"
			value="321">
			<!-- This is another way to set a property 
				
			<value>321</value> 
			
			-->
		</property>
		
		<property 
			name="direccion" 
			ref="direccion">
		</property>
		
	</bean>

	<bean 
		id="direccion" 
		class="es.anderconal.modelo.Direccion">
		
		<constructor-arg 
			name="calle" 
			value="Tellagorri, 18">
		</constructor-arg>
		
		<constructor-arg 
			name="codigoPostal"
			value="48012">
		</constructor-arg>
		
	</bean>
	<bean id="fabricacionPersona"
		class="es.anderconal.modelo.FabricacionPersona">
	</bean>
</beans>
